.icon-cross
	input#icon-cross(type='checkbox', name='cc' checked)
	label.tezt(for='icon-cross') Check Box 1

hr.style

.icon-arrow-left
	input#icon-arrow-left(type='checkbox', name='cc' checked)
	label.tezt(for='icon-arrow-left') Icon arrow left

hr.style

.icon-arrow-right
	input#icon-arrow-right(type='checkbox', name='cc' checked)
	label.tezt(for='icon-arrow-right') Icon arrow left

hr.style

.icon-horizontal
	input#icon-horizontal(type='checkbox', name='cc' checked)
	label.tezt(for='icon-horizontal') Icon arrow left